# ------------------------
# OS / Editor junk
# ------------------------
.DS_Store
Thumbs.db
*.swp
*.swo


# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
build/
dist/


# ------------------------
# Virtual environments
# ------------------------
.venv/
venv/
env/


# ------------------------
# Jupyter
# ------------------------
**/.ipynb_checkpoints/


# ------------------------
# Data Processing
# ------------------------
# Ignore all subdirectories inside DataProcessing/
DataProcessing/*/


# ------------------------
# Experiments
# ------------------------
# Ignore all subdirectories inside Experiments/
Experiments/*/


# ------------------------
# Logs / misc
# ------------------------
*.log
*.out
*.err
